<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube Playlist Total Length</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

    <header></header>

    <div class="container">
        <div class="jumbotron">
            <h1>hi there</h1>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Youtube playlist url</label>
                <input class="form-control" id="input-url" aria-describedby="emailHelp" placeholder="https://www.youtube.com/playlist?list=ID">
                <small class="form-text text-muted">Just input a youtube playlist url and submit!</small>
              </div>
              <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>        
    </div>

    <div class="container">
      <div id="result">
          
      </div>
  </div>

    <footer></footer>

    <script>
      var renderResult = function(result) {
        $("#result").text(result)
      }

      $(function() {
        var submitBtn = $("#submit-btn")
        var input = $("#input-url")
        
        submitBtn.click(function(e) {
          e.preventDefault()
          $.ajax({
            url: '/apis/playlist',
            data: { playlistUrl: input.val() },
            success: function(data, status) {
              
              renderResult(data);
            }
          });
        })
      })
    </script>
</body>
</html>
